<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-resultat-ecole-heading"
        data-cy="ResultatEcoleCreateUpdateHeading"
        jhiTranslate="edu1App.resultatEcole.home.createOrEditLabel"
      >
        Create or edit a Resultat Ecole
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="edu1App.resultatEcole.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="edu1App.resultatEcole.createdDate" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="edu1App.resultatEcole.deleted" for="field_deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="edu1App.resultatEcole.deletedBy" for="field_deletedBy">Deleted By</label>
          <input type="text" class="form-control" name="deletedBy" id="field_deletedBy" data-cy="deletedBy" formControlName="deletedBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="edu1App.resultatEcole.deletedDate" for="field_deletedDate">Deleted Date</label>
          <div class="input-group">
            <input
              id="field_deletedDate"
              data-cy="deletedDate"
              type="text"
              class="form-control"
              name="deletedDate"
              ngbDatepicker
              #deletedDateDp="ngbDatepicker"
              formControlName="deletedDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="deletedDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="edu1App.resultatEcole.ecole" for="field_ecole">Ecole</label>
          <select class="form-control" id="field_ecole" data-cy="ecole" name="ecole" formControlName="ecole">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="ecoleOption.id === editForm.get('ecole')!.value?.id ? editForm.get('ecole')!.value : ecoleOption"
              *ngFor="let ecoleOption of ecolesCollection; trackBy: trackEcoleById"
            >
              {{ ecoleOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="edu1App.resultatEcole.competition" for="field_competition">Competition</label>
          <select class="form-control" id="field_competition" data-cy="competition" name="competition" formControlName="competition">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                competitionOption.id === editForm.get('competition')!.value?.id ? editForm.get('competition')!.value : competitionOption
              "
              *ngFor="let competitionOption of competitionsSharedCollection; trackBy: trackCompetitionById"
            >
              {{ competitionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
