<div>
  <h2 id="page-heading" data-cy="EcoleHeading">
    <span jhiTranslate="edu1App.ecole.home.title">Ecoles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="edu1App.ecole.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ecole"
        [routerLink]="['/ecole/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="edu1App.ecole.home.createLabel"> Create a new Ecole </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ecoles?.length === 0">
    <span jhiTranslate="edu1App.ecole.home.notFound">No ecoles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ecoles && ecoles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.adresse">Adresse</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.email">Email</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.login">Login</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.password">Password</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.listeClasses">Liste Classes</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.deletedBy">Deleted By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.deletedDate">Deleted Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.ecole.localisation">Localisation</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ecole of ecoles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ecole', ecole.id, 'view']">{{ ecole.id }}</a>
          </td>
          <td>{{ ecole.nom }}</td>
          <td>{{ ecole.adresse }}</td>
          <td>{{ ecole.email }}</td>
          <td>{{ ecole.login }}</td>
          <td>{{ ecole.password }}</td>
          <td>{{ ecole.listeClasses }}</td>
          <td>{{ ecole.createdBy }}</td>
          <td>{{ ecole.createdDate | formatMediumDate }}</td>
          <td>{{ ecole.deleted }}</td>
          <td>{{ ecole.deletedBy }}</td>
          <td>{{ ecole.deletedDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="ecole.localisation">
              <a [routerLink]="['/localisation', ecole.localisation?.id, 'view']">{{ ecole.localisation?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ecole', ecole.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ecole', ecole.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ecole)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
