<div>
  <h2 id="page-heading" data-cy="ReponseHeading">
    <span jhiTranslate="edu1App.reponse.home.title">Reponses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="edu1App.reponse.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reponse"
        [routerLink]="['/reponse/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="edu1App.reponse.home.createLabel"> Create a new Reponse </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reponses?.length === 0">
    <span jhiTranslate="edu1App.reponse.home.notFound">No reponses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="reponses && reponses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="edu1App.reponse.score">Score</span></th>
          <th scope="col"><span jhiTranslate="edu1App.reponse.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.reponse.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.reponse.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="edu1App.reponse.deletedBy">Deleted By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.reponse.deletedDate">Deleted Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.reponse.refEcole">Ref Ecole</span></th>
          <th scope="col"><span jhiTranslate="edu1App.reponse.competition">Competition</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reponse of reponses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reponse', reponse.id, 'view']">{{ reponse.id }}</a>
          </td>
          <td>{{ reponse.score }}</td>
          <td>{{ reponse.createdBy }}</td>
          <td>{{ reponse.createdDate | formatMediumDate }}</td>
          <td>{{ reponse.deleted }}</td>
          <td>{{ reponse.deletedBy }}</td>
          <td>{{ reponse.deletedDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="reponse.refEcole">
              <a [routerLink]="['/ecole', reponse.refEcole?.id, 'view']">{{ reponse.refEcole?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reponse.competition">
              <a [routerLink]="['/competition', reponse.competition?.id, 'view']">{{ reponse.competition?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reponse', reponse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reponse', reponse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reponse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
