<div>
  <h2 id="page-heading" data-cy="ResultatEcoleHeading">
    <span jhiTranslate="edu1App.resultatEcole.home.title">Resultat Ecoles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="edu1App.resultatEcole.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resultat-ecole"
        [routerLink]="['/resultat-ecole/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="edu1App.resultatEcole.home.createLabel"> Create a new Resultat Ecole </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resultatEcoles?.length === 0">
    <span jhiTranslate="edu1App.resultatEcole.home.notFound">No resultatEcoles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="resultatEcoles && resultatEcoles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="edu1App.resultatEcole.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.resultatEcole.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.resultatEcole.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="edu1App.resultatEcole.deletedBy">Deleted By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.resultatEcole.deletedDate">Deleted Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.resultatEcole.ecole">Ecole</span></th>
          <th scope="col"><span jhiTranslate="edu1App.resultatEcole.competition">Competition</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultatEcole of resultatEcoles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resultat-ecole', resultatEcole.id, 'view']">{{ resultatEcole.id }}</a>
          </td>
          <td>{{ resultatEcole.createdBy }}</td>
          <td>{{ resultatEcole.createdDate | formatMediumDate }}</td>
          <td>{{ resultatEcole.deleted }}</td>
          <td>{{ resultatEcole.deletedBy }}</td>
          <td>{{ resultatEcole.deletedDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="resultatEcole.ecole">
              <a [routerLink]="['/ecole', resultatEcole.ecole?.id, 'view']">{{ resultatEcole.ecole?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resultatEcole.competition">
              <a [routerLink]="['/competition', resultatEcole.competition?.id, 'view']">{{ resultatEcole.competition?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resultat-ecole', resultatEcole.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/resultat-ecole', resultatEcole.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(resultatEcole)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
