<div>
  <h2 id="page-heading" data-cy="AuteurHeading">
    <span jhiTranslate="edu1App.auteur.home.title">Auteurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="edu1App.auteur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-auteur"
        [routerLink]="['/auteur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="edu1App.auteur.home.createLabel"> Create a new Auteur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="auteurs?.length === 0">
    <span jhiTranslate="edu1App.auteur.home.notFound">No auteurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="auteurs && auteurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.firstName">First Name</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.lastName">Last Name</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.email">Email</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.password">Password</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.refUser">Ref User</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.deletedBy">Deleted By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.auteur.deletedDate">Deleted Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auteur of auteurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/auteur', auteur.id, 'view']">{{ auteur.id }}</a>
          </td>
          <td>{{ auteur.firstName }}</td>
          <td>{{ auteur.lastName }}</td>
          <td>{{ auteur.email }}</td>
          <td>{{ auteur.password }}</td>
          <td>{{ auteur.refUser }}</td>
          <td>{{ auteur.createdBy }}</td>
          <td>{{ auteur.createdDate | formatMediumDate }}</td>
          <td>{{ auteur.deleted }}</td>
          <td>{{ auteur.deletedBy }}</td>
          <td>{{ auteur.deletedDate | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/auteur', auteur.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/auteur', auteur.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(auteur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
