<div>
  <h2 id="page-heading" data-cy="QcmHeading">
    <span jhiTranslate="edu1App.qcm.home.title">Qcms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="edu1App.qcm.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-qcm"
        [routerLink]="['/qcm/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="edu1App.qcm.home.createLabel"> Create a new Qcm </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="qcms?.length === 0">
    <span jhiTranslate="edu1App.qcm.home.notFound">No qcms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="qcms && qcms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.question">Question</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.choixDispo">Choix Dispo</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.choixCorrect">Choix Correct</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.deletedBy">Deleted By</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.deletedDate">Deleted Date</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.refcon">Refcon</span></th>
          <th scope="col"><span jhiTranslate="edu1App.qcm.competition">Competition</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qcm of qcms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/qcm', qcm.id, 'view']">{{ qcm.id }}</a>
          </td>
          <td>{{ qcm.question }}</td>
          <td>{{ qcm.choixDispo }}</td>
          <td>{{ qcm.choixCorrect }}</td>
          <td>{{ qcm.createdBy }}</td>
          <td>{{ qcm.createdDate | formatMediumDate }}</td>
          <td>{{ qcm.deleted }}</td>
          <td>{{ qcm.deletedBy }}</td>
          <td>{{ qcm.deletedDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="qcm.refcon">
              <a [routerLink]="['/conte', qcm.refcon?.id, 'view']">{{ qcm.refcon?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="qcm.competition">
              <a [routerLink]="['/competition', qcm.competition?.id, 'view']">{{ qcm.competition?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/qcm', qcm.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/qcm', qcm.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(qcm)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
